@use "sass:math";

@import "fonts";
@import "mixins";

$fontFamily: "TitilliumWeb";
$fontSize: rem(18);

$mainColor: #000;
$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1590;
$containerPadding: 30;
$responsiveType: 1;

$containerWidth: $maxWidthContainer + $containerPadding;

$pc: em($containerWidth);
$tablet: em(991.98);
$mobile: em(767.98);
$mobileSmall: em(479.98);

html {
    font-size: 16px;
}

body {
    font-weight: 400;
    font-family: $fontFamily;

    .lock & {
        overflow: hidden;
        touch-action: none;
    }
}

.container {
    max-width: 1100px !important;
    margin: 0 auto;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    .loaded & {}

    >main {
        flex: 1 1 auto;
    }
}

.top {
    text-align: center;
    padding-bottom: rem(70);

    &__title {
        font-size: rem(40);
        font-weight: 700;
        padding-bottom: rem(45);
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: rem(90);
            height: rem(4);
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            transform: translateY(500%);
        }
    }

    &__text {
      color: #393939; 
      font-size: rem(18);
      line-height: math.div(26, 18);
      padding: 0 rem(250);
    }
}

.btn {
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: rem(18);
  line-height: math.div(26, 18);
  padding: rem(25) rem(80);
  border-radius: rem(10);
  text-transform: uppercase;
}


@import './normalize';

@import './blocks/header';

@import './blocks/service';
@import './blocks/team';
@import './blocks/skills';
@import './blocks/portfolio';
@import './blocks/about';
@import './blocks/touch';

@import './footer';